<p><strong>Name</strong><br /><%= @user.name %></p>
<p><strong>First Name</strong><br /><%= @user.first_name %></p>
<p><strong>Last Name</strong><br /><%= @user.last_name %></p>
<p><strong>Gender</strong><br /><%= @user.gender %></p>
<p>
 <strong>The ads posted by <%= @user.name %></strong><br/>
 <%= render "/shared/profile_classifieds", :classifieds => @user.classifieds %> 
</p>
